# Exercises

### 2. Given the following confusion matrix, evaluate (by hand) the model's performance.


|               | pred dog   | pred cat   |
|:------------  |-----------:|-----------:|
| actual dog    |         46 |         7  |
| actual cat    |         13 |         34 |

In [1]:
# always state what is positive if not already explicit

# positve = 'dog'
# negative = 'cat'

### - In the context of this problem, what is a false positive?

- Looking for dog as a positive, predict dog, but get cat. (13)

### - In the context of this problem, what is a false negative?

- Looking for dog as a positive, predict cat, but get dog. (7)

### 2c. How would you describe this model?

In [2]:
# Without doing any math and just observing, the model performed very well because
# the true positive and true negative values are much higher than the false values.

# Looking for cats:

tp = 46
tn = 34
fp = 13
fn = 7

In [3]:
accuracy = (tp + tn) / (tp + tn + fp + fn)

precision = tp / (tp + fp)

recall = tp / (tp + fn)

baseline_accuracy = round(46/(46+13),2)

print("Accuracy is", accuracy)
print("Recall is", round(recall,2))
print("Precision is", round(precision,2))

print()
print("Baseline is",baseline_accuracy )

Accuracy is 0.8
Recall is 0.87
Precision is 0.78

Baseline is 0.78

The model performed a little better than baseline.
It accurately predicts dogs and cats 80% of the time.

## 3. You are working as a datascientist working for Codeup Cody Creator (C3 for short), a rubber-duck manufacturing plant.

Unfortunately, some of the rubber ducks that are produced will have defects. Your team has built several models that try to predict those defects, and the data from their predictions can be found here.

In [4]:
import pandas as pd

df = pd.read_csv('c3.csv')
df.head()

      actual     model1  model2     model3
0  No Defect  No Defect  Defect  No Defect
1  No Defect  No Defect  Defect     Defect
2  No Defect  No Defect  Defect  No Defect
3  No Defect     Defect  Defect     Defect
4  No Defect  No Defect  Defect  No Defect

In [5]:
df.shape

(200, 4)

Use the predictions dataset and pandas to help answer the following questions:

#### - An internal team wants to investigate the cause of the manufacturing defects. They tell you that they want to identify as many of the ducks that have a defect as possible. Which evaluation metric would be appropriate here? Which model would be the best fit for this use case?

In [6]:
# positive case = defects
# negative case = no defect
# dont care if they are right about predicting no defect, we really care about getting defect prediction correct.

positive case = 'defect'

negative case = 'no defect'

false negatives: when i predicted no defect, but there was a defect

false positives: when i prediced defect, but there was no defect

recall: minimize false negatives, looking at positive actuals

precision: minmize false positives, looking at positive predictions

- Recall: In this case, the internal team wants to identify as many of the ducks that have a defect as possible. This means that the team is more concerned with minimizing false negatives.

- Model 3 has the highest recall score.

In [7]:
#find all positive actuals
pos_actuals = df [df.actual == 'Defect']
pos_actuals.head()

    actual     model1     model2  model3
13  Defect  No Defect     Defect  Defect
30  Defect     Defect  No Defect  Defect
65  Defect     Defect     Defect  Defect
70  Defect     Defect     Defect  Defect
74  Defect  No Defect  No Defect  Defect

In [8]:
(pos_actuals.actual == pos_actuals.model1).mean()

0.5

In [9]:
(pos_actuals.actual == pos_actuals.model2).mean()

0.5625

In [10]:
(pos_actuals.actual == pos_actuals.model3).mean()

0.8125

> model 3 works best for correctly predicing our defects in the ducks (using recall)

#### - Recently several stories in the local news have come out highlighting customers who received a rubber duck with a defect, and portraying C3 in a bad light. The PR team has decided to launch a program that gives customers with a defective duck a vacation to Hawaii. They need you to predict which ducks will have defects, but tell you the really don't want to accidentally give out a vacation package when the duck really doesn't have a defect. Which evaluation metric would be appropriate here? Which model would be the best fit for this use case?

positive case = 'defect'

negative case = 'no defect'

false negatives: when i predicted no defect, but there was a defect

false positives: when i prediced defect, but there was no defect

recall: minimize false negatives, looking at positive actuals

precision: minmize false positives, looking at positive predictions

 - we will use precision because we want to minimize false positives, we dont want to give someone a vacation when they dont have a defective duck

In [11]:
# Which model would be the best fit for this use case?
# Compare each model's precision score:

PR team really wants to minimize the False positives means choose the model with the highest precision.

So the best models for this scenario is precision = tp / (tp + fp)

defect = positive case

In [12]:
# choose subset for model 1 where we only select 'positive predictions'
subset = df [df.model1 == 'Defect']

# calculate precision
(subset.actual == subset.model1).mean()

0.8

In [13]:
#Choose subset for model2 where we only select 'positive predictions'
subset = df[df.model2 == 'Defect']

#calculate precision
(subset.actual == subset.model2).mean()

0.1

In [14]:
#Choose subset for model3 where we only select 'positive predictions'
subset = df[df.model3 == 'Defect']

#calculate precision
(subset.actual == subset.model3).mean()

0.13131313131313133

Use model 1 as it has the highest precision, hence it will minimize the false positive predictions of defects

## 4. You are working as a data scientist for Gives You Paws ™, a subscription based service that shows you cute pictures of dogs or cats (or both for an additional fee).

#### At Gives You Paws, anyone can upload pictures of their cats or dogs. The photos are then put through a two step process. 

- Phase I: An automated algorithm tags pictures as either a cat or a dog.

- Phase II: Next, the photos that have been initially identified are put through another round of review, possibly with some human oversight, before being presented to the users

Given this dataset, use pandas to create a baseline model (i.e. a model that just predicts the most common class) and answer the following questions:

 - a. In terms of accuracy, how do the various models compare to the baseline model? Are any of the models better than the baseline?
 - b. Suppose you are working on a team that solely deals with dog pictures. Which of these models would you recommend?
 - c. Suppose you are working on a team that solely deals with cat pictures. Which of these models would you recommend?

In [15]:
import pandas as pd

df = pd.read_csv('gives_you_paws.csv')

In [16]:
df

     actual model1 model2 model3 model4
0       cat    cat    dog    cat    dog
1       dog    dog    cat    cat    dog
2       dog    cat    cat    cat    dog
3       dog    dog    dog    cat    dog
4       cat    cat    cat    dog    dog
...     ...    ...    ...    ...    ...
4995    dog    dog    dog    dog    dog
4996    dog    dog    cat    cat    dog
4997    dog    cat    cat    dog    dog
4998    cat    cat    cat    cat    dog
4999    dog    dog    dog    dog    dog

[5000 rows x 5 columns]

In [ ]:
# Given this dataset, use pandas to create a baseline model (i.e. a model that just predicts the most common 
# class) and answer the following questions:

# baseline is the mode of the actuals, many different ways to find out what the mode is

In [17]:
df['actual'].value_counts()

actual
dog    3254
cat    1746
Name: count, dtype: int64

In [19]:
df['actual'].mode()

0    dog
Name: actual, dtype: object

In [20]:
df.actual.value_counts(normalize=True)[0]

0.6508

In [18]:
# .6508 is our baseline

#### 4a. In terms of accuracy, how do the various models compare to the baseline model? Are any of the models better than the baseline?

In [23]:
(df.actual == df.model1).mean()

0.8074

In [29]:
df.columns

Index(['actual', 'model1', 'model2', 'model3', 'model4'], dtype='object')

In [30]:
#looping through my 4 different models
for col in df.columns[1:]:
    print(col)
    acc = (df.actual == df[col]).mean()
#     print(acc)
    print(f'for {col} the accuracy is {acc}')

for model1 the accuracy is 0.8074
for model2 the accuracy is 0.6304
for model3 the accuracy is 0.5096
for model4 the accuracy is 0.7426

- Model 1 has the highest accuracy score, then model 4. The other two are below baseline.

#### 4b. Suppose you are working on a team that solely deals with dog pictures. Which of these models would you recommend?

positive = 'dog'

recall = minimize our false negatives

precision = minimize our false positives

false negatives = predicting a cat, when its actually a dog

false positives = predicting a dog, when its actually a cat

In [31]:
# use precision because precision minimizes false positives, we dont want cat pictures

In [32]:
pos_predictions = df[df.model1 == 'dog']
pos_predictions

     actual model1 model2 model3 model4
1       dog    dog    cat    cat    dog
3       dog    dog    dog    cat    dog
5       dog    dog    dog    dog    dog
7       cat    dog    cat    cat    dog
8       dog    dog    cat    dog    dog
...     ...    ...    ...    ...    ...
4992    dog    dog    cat    cat    dog
4993    dog    dog    cat    dog    dog
4995    dog    dog    dog    dog    dog
4996    dog    dog    cat    cat    dog
4999    dog    dog    dog    dog    dog

[2937 rows x 5 columns]

In [33]:
# precision for model 1
(pos_predictions.actual == pos_predictions.model1).mean()

0.8900238338440586

In [39]:
# create for loop to check precision for all models
for col in df.columns[1:]:
#     print(col)
    pos_predictions = df [df[col] == 'dog']
    prec = (pos_predictions.actual == pos_predictions[col]).mean()
    
    print(f'for {col} the precision is {prec}')

for model1 the precision is 0.8900238338440586
for model2 the precision is 0.8931767337807607
for model3 the precision is 0.6598883572567783
for model4 the precision is 0.7312485304490948

In [ ]:
# using precision as the evaluation metric, model 1 or 2 would be best at predicting dog pictures

#### 4c. Suppose you are working on a team that solely deals with cat pictures. Which of these models would you recommend?

positive = 'cat'

recall = minimize our false negatives

precision = minimize our false positives

false negatives = predicting a dog, when its actually a cat

false positives = predicting a cat, when its actually a dog

In [ ]:
# use precision as evaluation metric since we dont want dog pictures

In [41]:
for col in df.columns[1:]:
#     print(col)
    pos_predictions = df [df[col] == 'cat']
    prec = (pos_predictions.actual == pos_predictions[col]).mean()
    
    print(f'for {col} the precision is {round(prec,2)}')

for model1 the precision is 0.69
for model2 the precision is 0.48
for model3 the precision is 0.36
for model4 the precision is 0.81

In [ ]:
# with precision as the evaluation metric, model 4 performs the best at predicting cat picture

## 5. Follow the links below to read the documentation about each function, then apply those functions to the data from the previous problem.

- sklearn.metrics.accuracy_score
- sklearn.metrics.precision_score
- sklearn.metrics.recall_score
- sklearn.metrics.classification_report

In [42]:
from sklearn.metrics import accuracy_score, precision_score, recall_score, classification_report

In [43]:
df

     actual model1 model2 model3 model4
0       cat    cat    dog    cat    dog
1       dog    dog    cat    cat    dog
2       dog    cat    cat    cat    dog
3       dog    dog    dog    cat    dog
4       cat    cat    cat    dog    dog
...     ...    ...    ...    ...    ...
4995    dog    dog    dog    dog    dog
4996    dog    dog    cat    cat    dog
4997    dog    cat    cat    dog    dog
4998    cat    cat    cat    cat    dog
4999    dog    dog    dog    dog    dog

[5000 rows x 5 columns]

In [44]:
accuracy_score(df.actual, df.model1)

0.8074

In [45]:
precision_score(df.actual, df.model1, pos_label='cat')

0.6897721764420747

In [46]:
precision_score(df.actual, df.model1, pos_label='dog')

0.8900238338440586

In [47]:
recall_score(df.actual, df.model1, pos_label='cat')

0.8150057273768614

In [48]:
recall_score(df.actual, df.model1, pos_label='dog')

0.803318992009834

In [50]:
print(classification_report(df.actual, df.model1))

              precision    recall  f1-score   support

         cat       0.69      0.82      0.75      1746
         dog       0.89      0.80      0.84      3254

    accuracy                           0.81      5000
   macro avg       0.79      0.81      0.80      5000
weighted avg       0.82      0.81      0.81      5000

In [ ]:
# print classification report for each model

In [52]:
print("Model 1")
pd.DataFrame(classification_report(df.actual, df.model1, 
                      labels=['cat','dog'],
                      output_dict=True))

Model 1

                   cat          dog  accuracy    macro avg  weighted avg
precision     0.689772     0.890024    0.8074     0.789898      0.820096
recall        0.815006     0.803319    0.8074     0.809162      0.807400
f1-score      0.747178     0.844452    0.8074     0.795815      0.810484
support    1746.000000  3254.000000    0.8074  5000.000000   5000.000000

In [53]:
print("Model 2")
pd.DataFrame(classification_report(df.actual, df.model2, 
                      labels=['cat','dog'],
                      output_dict=True))

Model 2

                   cat          dog  accuracy    macro avg  weighted avg
precision     0.484122     0.893177    0.6304     0.688649      0.750335
recall        0.890607     0.490781    0.6304     0.690694      0.630400
f1-score      0.627269     0.633479    0.6304     0.630374      0.631310
support    1746.000000  3254.000000    0.6304  5000.000000   5000.000000

In [54]:
print("Model 3")
pd.DataFrame(classification_report(df.actual, df.model3, 
                      labels=['cat','dog'],
                      output_dict=True))

Model 3

                   cat          dog  accuracy    macro avg  weighted avg
precision     0.358347     0.659888    0.5096     0.509118      0.554590
recall        0.511455     0.508605    0.5096     0.510030      0.509600
f1-score      0.421425     0.574453    0.5096     0.497939      0.521016
support    1746.000000  3254.000000    0.5096  5000.000000   5000.000000

In [55]:
print("Model 4")
pd.DataFrame(classification_report(df.actual, df.model4, 
                      labels=['cat','dog'],
                      output_dict=True))

Model 4

                   cat          dog  accuracy    macro avg  weighted avg
precision     0.807229     0.731249    0.7426     0.769239      0.757781
recall        0.345361     0.955747    0.7426     0.650554      0.742600
f1-score      0.483755     0.828560    0.7426     0.656157      0.708154
support    1746.000000  3254.000000    0.7426  5000.000000   5000.000000